.green {
    background-color: green;
}

.red {
    background-color: red;
}

/* Base style from w3schools */

table, th, td {
    border:1px solid black;
}

table {
    width: 55%;
}

td {
    text-align: center; 
    vertical-align: middle;
}

header {
    text-align: center;
    background-color: #7C99FF;
    padding: 1%;
}

.add-employee-subhead {
    background-color: #A4B2EB;
    padding: 1%;
}

.add-employee-subhead input {
    margin: 0 auto;
}

.employees-subhead {
    background-color: #B0AAFF;
    padding: 1%;
}

body {
    width: 85%;
    margin-top: 1em;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    border: 1px solid black;
    font-family: Quicksand;
}